<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.groupc.tyt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" 
        />
     <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.groupc.tyt.activity.MainActivity"
             android:windowSoftInputMode="stateHidden|adjustPan" 
             android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.groupc.tyt.activity.Reg_Activity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|keyboardHidden" >
         </activity>
         <activity
            android:name="com.groupc.tyt.activity.Pub_Activity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|keyboardHidden" >
         </activity>
          <activity
            android:name="com.groupc.tyt.activity.Applied_Activity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|keyboardHidden" >
         </activity>
         <activity
            android:name="com.groupc.tyt.activity.Published_Activity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|keyboardHidden" >
         </activity>
         <activity
            android:name="com.groupc.tyt.activity.SplashActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|keyboardHidden" >
         </activity>
         <activity
            android:name="com.groupc.tyt.activity.SplashActivity2"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|keyboardHidden" >
            </activity>
            <activity
            android:name="com.groupc.tyt.activity.Goods_Applied"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|keyboardHidden" >
         </activity>
          <activity
            android:name="com.groupc.tyt.activity.Goods_Published"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|keyboardHidden" >
         </activity>
          <activity
            android:name="com.groupc.tyt.activity.Goodsin_Activity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|keyboardHidden" >
         </activity>
    </application>

</manifest>
