<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.groupc.tyt"
    android:versionCode="1"
    android:versionName="1.0" >

      <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" 
        />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission> 
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.groupc.tyt.activity.WelcomeActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|keyboardHidden" >
         <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
         </activity>
        <activity
            android:name="com.groupc.tyt.activity.MainActivity"
             android:windowSoftInputMode="stateHidden|adjustPan" 
             android:configChanges="orientation|keyboardHidden" >
            
        </activity>
         <activity
            android:name="com.groupc.tyt.activity.RegisterFirstStepActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|keyboardHidden" >
         </activity>
         <activity
            android:name="com.groupc.tyt.activity.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|keyboardHidden" >
         </activity>
                  <activity
            android:name="com.groupc.tyt.activity.RegisterSecondStepActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|keyboardHidden" >
         </activity>
         <activity
            android:name="com.groupc.tyt.activity.PubActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|keyboardHidden" >
         </activity>
          <activity
            android:name="com.groupc.tyt.activity.AppliedActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|keyboardHidden" >
         </activity>
         <activity
            android:name="com.groupc.tyt.activity.PublishedActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|keyboardHidden" >
         </activity>
         <activity
            android:name="com.groupc.tyt.activity.SplashActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|keyboardHidden" >
         </activity>
         <activity
            android:name="com.groupc.tyt.activity.SplashActivity2"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|keyboardHidden" >
            </activity>
            <activity
            android:name="com.groupc.tyt.activity.GoodsApplied"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|keyboardHidden" >
         </activity>
          <activity
            android:name="com.groupc.tyt.activity.GoodsPublished"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|keyboardHidden" >
         </activity>
          <activity
            android:name="com.groupc.tyt.activity.GoodsinActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|keyboardHidden" >
         </activity>
    </application>

</manifest>
